<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t2.dao.ChannelDAO">

	<select id="getChannelList" resultType="java.lang.String">
	select ch_name from channel;
	</select>
</mapper>